body {
  margin: auto;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6em;
  font-size: 1em;
  box-sizing: border-box;
}
.bg-container {
  position: relative;
  background-size: cover;
}

.container {
  width: 300px;
  height: 550px;
  border-radius: 15px;
  border: 2px solid slategray;
  background: url(loggin-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 1;
  color: whitesmoke;
}

.container h1 {
  font-size: 1.6em;
  color: black;
  margin: 50px 0 80px 0;
}

.t-box {
  width: 75%;
  height: 25px;
  padding: 4px;
  background-color: whitesmoke;
  border: 2px solid slategrey;
  border-radius: 10px;
  margin: 55px 35px;
  align-items: center;
  transition: 0.5s;
}

.t-box input {
  border: none;
  background: none;
  outline: none;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: 333;
  cursor: text;
}

.t-box:hover {
  border-color: whitesmoke;
  background: slategrey;
}

#b1 {
  margin-top: 15px;
  text-decoration: none;
  cursor: pointer;
  transition: 0.5s;
}
#b1:hover {
  resize: 1.6em;
  color: slategrey;
}

#b2 {
  margin-top: 80px;
  color: slategrey;
  text-decoration: none;
  cursor: pointer;
  transition: 0.5s;
}
#b2:hover {
  resize: 1.6em;
  color: whitesmoke;
}

.btn-log {
  border: 2px soild whitesmoke;
  border-radius: 10px;
  width: 75%;
  height: 30px;
  padding: 4px;
  background: slategrey;
  transition: 0.5s;
  cursor: pointer;
}
.btn-log:hover {
  background-color: whitesmoke;
  border-color: slategray;
}

.modal {
  display: block;
  width: 250px;
  height: 250px;
  border: 2px solid slategray;
  background-color: whitesmoke;
  text-align: center;
  border-radius: 15px;
  transition: 0.5s;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal btn {
  margin-top: 45px;
  cursor: pointer;
}
.modal-header {
  margin-top: 25px;
}
